@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "variables";

header {
    nav { 
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            padding: 0;
            gap: 10px;
        }
    }
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.layout nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/*.layout section {
    width: 80%;
    background: $white;
    max-width: 800px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}*/
