//Bestemte å ikke bruke :root i dette prosjekt, i steden for har jeg laget denne separat scss filen til variables hvor jeg kan importere alle gjenbrukbare verdier//
$darkblue: #2A324B;
$lightblue: #58699d;
$grey: #E1E5EE;
$white: #fff;
$primary-font: "Roboto", sans-serif;